<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nandrolona</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="container">
    <h1 class="titulos">Nandrolona</h1>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="Nandrolona.html">Nandrolona</a>
        <a href="Testosterona.html">Testosterona</a>
        <a href="Stanozolol.html">Stanozolol</a>
        <a href="Oxandrolona.html">Oxandrolona</a>  
    </nav>
    <p>La nandrolona es un esteroide anabolico sintético derivado de la testosterona. Es conocido por su capacidad para promover el crecimiento muscular y mejorar el rendimiento deportivo. La nandrolona se utiliza comúnmente para tratar condiciones médicas como la anemia y la pérdida de peso involuntaria, pero también es popular entre los atletas y culturistas para mejorar el rendimiento y la apariencia física.</p>
    <h2 class="titulos">Propiedades y beneficios</h2>
    <ul>
        <li>Promueve el crecimiento muscular</li>
        <li>Mejora el rendimiento deportivo</li>
        <li>Utilizada para tratar la anemia</li>
        <li>Utilizada para tratar la pérdida de peso involuntaria</li>
    </ul>
    <h2 class="titulos">Riesgos y efectos secundarios</h2>
    <p>El uso indebido de nandrolona puede causar efectos secundarios como daño hep
ático, acné, pérdida de cabello y cambios en los niveles de colesterol.</p>
    <h2 class="titulos">Fuentes</h2>
    <ul>
        <li><a href="https://www.mayoclinic.org/drugs-and-procedures/nandrolone/about/p-20163444" target="_blank">Mayo Clinic - Nandrolone</a></li>
        <li><a href="https://www.webmd.com/drugs/2/drug-1097/nandrolone/details" target="_blank">WebMD - Nandrolone</a></li>
    </ul>
    </div>
</body>
</html>