<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxandrolona</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="container">
    <h1 class="titulos">Oxandrolona</h1>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="Nandrolona.html">Nandrolona</a>
        <a href="Testosterona.html">Testosterona</a>
        <a href="Stanozolol.html">Stanozolol</a>
        <a href="Oxandrolona.html">Oxandrolona</a>
    </nav>
    <p>La oxandrolona es un esteroide anabolico sintético derivado de la dihidrotestosterona (DHT). Es conocido por su capacidad para promover el crecimiento muscular sin causar retención de agua significativa. La oxandrolona se utiliza comúnmente para tratar condiciones médicas como la pérdida de peso involuntaria y la osteoporosis, pero también es popular entre los atletas y culturistas para mejorar el rendimiento y la apariencia física.</p>
    <h2 class="titulos">Propiedades y beneficios</h2>
    <ul>
        <li>Promueve el crecimiento muscular</li>
        <li>No causa retención de agua significativa</li>
        <li>Utilizada para tratar la pérdida de peso involuntaria</li>
        <li>Utilizada para tratar la osteoporosis</li>
    </ul>
    <h2 class="titulos">Riesgos y efectos secundarios</h2>
    <p>El uso indebido de oxandrolona puede causar efectos secundarios como daño hepático, acné, pérdida de cabello y cambios en los niveles de colesterol.</p>
    <h2 class="titulos">Fuentes</h2>
    <ul>
        <li><a href="https://www.mayoclinic.org/drugs-and-procedures/oxandrolone/about/p-20163445" target="_blank">Mayo Clinic - Oxandrolone</a></li>
        <li><a href="https://www.webmd.com/drugs/2/drug-1098/oxandrolone/details" target="_blank">WebMD - Oxandrolone</a></li>
    </ul>
    </div>
</body>
</html>